body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f172a;
    color: azure;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

header {
    background-color: #020617;
    color: #fff;
    padding: 30px;
    text-align: center;
    position: relative;
}

nav {
    background-color: #1e293b;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 40px; /* Adjust this value to make the container bigger vertically */
    background-color: #1e293b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-inside: 2px;
    margin-bottom: 20px;
}

footer {
    background-color: #1e293b;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* underneath is the discussion board's styles*/
#messages {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
    color: azure;
}

.input-container {
    display: flex;
    flex-direction: column; /* Display input and button in a column */
}

input,
textarea {
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

textarea:hover {
    background-color: #c1c5e1; /* Change the background color on hover */
    box-shadow: 0 0 10px rgba(99, 102, 241, 0.7); /* Add a subtle box-shadow on hover */
    transition: background-color 0.3s, box-shadow 0.3s; /* Add smooth transitions */
}

button {
    padding: 10px;
    background-color: #94a3b8;
    color: #fff;
    border: none;
    cursor: pointer;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

button:hover {
    background-color: #6366f1;
    box-shadow: 0 0 10px rgba(99, 102, 241, 0.7); /* Add a subtle box-shadow on hover */
    transition: background-color 0.3s, box-shadow 0.3s; /* Add smooth transitions */
}

